<% if users.count > 0 %>
  <%= content_tag(:h3, title) if title.present? %>
  <div class="grid grid-border">
    <% users.each do |user| %>
      <div class="col-1-2">
        <div class="<%= module_class %>">
          <div class="grid">
            <div class="col-avatar">
              <%= image_tag(get_avatar(user), plugin: 'team-dashboard', id: "avatar_#{user.id}", class: 'avatar', title: "#{user.name}", size: '60x60', onclick: "sendAvatar(#{user.id})")%>
            </div>
            <div class="col-desc">
              <table class="user-issues" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="user-name" colspan="3">
                    <strong><%= link_to user.name, user_path(user) %></strong>
                  </td>
                </tr>
                <% issues = user_issues(user) %>
                <% issues.each_with_index do |issue, index| %>
                  <tr>
                    <% if index + 1 < TeamDashboardConstants::ISSUES_PER_CARD || issues.count == TeamDashboardConstants::ISSUES_PER_CARD %>
                      <td>
                        <p class="truncate">
                          <%= content_tag(:span, '', class: priority_class(issue), title: "#{issue.priority.name} priority") if display_priority %>
                          <%= issue_id_and_subject_tag user, issue, display_shared_mark, display_initials %>
                        </p>
                      </td>
                      <%= content_tag(:td, eta_value(issue) + (issue.fixed_version_id == 30 ? '-R' : ''), class: 'eta shaded-font') if display_eta %>
                      <%= content_tag(:td, owner_value_short(user, issue), class: 'initials shaded-font', title: owner_value(user, issue)) if display_initials %>
                    <% else %>
                      <td class="more"><%= link_to l(:label_issue_view_all), view_all_issues_path(user), title: "View all issues assigned to #{user.name}" %></td>
                      <% break %>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if users.count.odd? %>
      <div class="col-1-2">
        <div class="<%= module_class %>"></div>
      </div>
    <% end %>
  </div>

  <div id="avatar_popup" style="display: none;">
    <form id="pictureForm">
      <p style="text-align: center"><input type="file" id="pictureInput" accept="image/jpeg" ></p>
    </form>
    <div id="target" class="uploadImage"></div>
  </div>
<% end %>
