<% if users.count > 0 %>
  <%= content_tag(:h3, title) if title.present? %>
  <div class="grid grid-border">
    <% users.each do |user| %>
      <div class="col-1-2">
        <div class="<%= module_class %>">
          <div class="grid">
            <div class="col-avatar">
              <%= render partial: 'avatar', locals: { user: user } %>
            </div>
            <div class="col-desc">
              <table class="user-issues" cellpadding="0" cellspacing="0">
                <% issues = user_issues(user) %>
                <tr>
                  <td class="user-name">
                    <strong><%= link_to user.name, user_path(user) %></strong><span class="shaded-font" style="margin-left: 5px">(<%= user_positions(user) %>)</span>
                    <span class="shaded-font story-points points" title='External Points'>EP: <%= external_points(issues) %></span>
                  </td>
                  <td class="shaded-font story-points" title='Story Points' nowrap>SP: <%= story_points(issues) %></td>
                </tr>
                <% issues.each_with_index do |issue, index| %>
                  <tr>
                    <% if index + 1 < TeamDashboardConstants::ISSUES_PER_CARD_6 || issues.to_a.count == TeamDashboardConstants::ISSUES_PER_CARD_6 %>
                      <td>
                        <p class="truncate">
                          <%= content_tag(:i, '', class: tracker_class(issue), title: "#{issue.priority.name} priority") if display_priority %>
                          <%= issue_id_and_subject_tag user, issue, display_shared_mark, display_initials %>
                        </p>
                      </td>
                        <%= points_content_tag(issue, :td, class: 'initials shaded-font') %>
                    <% else %>
                      <td class="more">
                        <%title = "View all issues where #{user.name} is #{owner_instance(user).name}"%>
                        <%= link_to l(:label_issue_view_all), view_all_issues_path(user), title: title%>
                      </td>
                      <% break %>
                    <% end %>
                  </tr>
                <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <% if users.count.odd? %>
      <div class="col-1-2">
        <div class="<%= module_class %>"></div>
      </div>
    <% end %>
  </div>

  <div id="avatar_popup" style="display: none;">
    <form id="pictureForm">
      <p style="text-align: center"><input type="file" id="pictureInput" accept="image/jpeg, image/png" ></p>
    </form>
    <a id="clear_image" href="#" class="clear_image" title="Clear Image" onclick="clearImage()"></a>
    <input type="hidden" id="hidden_input" value="">
    <div id="target" class="uploadImage"></div>
  </div>
<% end %>
